/*---------------------------------------------*/

/* Estilos específicos para subtítulos */
.title-responsive {
    @apply font-bold; /* Fuente en negrita */
    font-size: clamp(1.2rem, 1vw + 0.5rem, 1.5rem); /* Tamaño de fuente fluido */
    line-height: clamp(1.7rem, 3vw + 0.5rem, 2.5rem); /* Altura de línea fluida */
    letter-spacing: -0.05rem; /* Ajuste sutil del espaciado entre letras */
    max-width: 100%;
  }
  
  /* Estilos específicos para subtítulos */
  .subtitle-responsive {
    @apply font-bold; /* Fuente en negrita */
    font-size: clamp(1.2rem, 1vw + 0.5rem, 1.5rem); /* Tamaño de fuente fluido */
    line-height: clamp(1.7rem, 3vw + 0.5rem, 2.5rem); /* Altura de línea fluida */
    letter-spacing: -0.05rem; /* Ajuste sutil del espaciado entre letras */
    max-width: 100%;
  }
  
    /* Estilos específicos para subtítulos */
    .subtitle2-responsive {
      @apply font-bold
      px-1; /* Fuente en negrita */
      font-size: clamp(0.5rem, 1vw + 0rem, 1.5rem); /* Tamaño de fuente fluido */
      line-height: clamp(1.7rem, 3vw + 0.5rem, 2.5rem); /* Altura de línea fluida */
      letter-spacing: -0.05rem; /* Ajuste sutil del espaciado entre letras */
      max-width: 100%;
      
    }
    
  
  /* Estilos específicos para descripciones */
  .description-responsive {
    font-size: clamp(0.9rem, 1.5vw + 0.3rem, 1.0rem); /* Tamaño de fuente fluido */
    line-height: clamp(1.4rem, 2vw + 0.3rem, 1.6rem); /* Altura de línea fluida */
    max-width: 100%;
  }
  
  /* Estilos específicos para textos pequeños (ej. pie de página) */
  .small-text-responsive {
    font-size: clamp(0.8rem, 1vw + 0.2rem, 1rem);
    line-height: clamp(1.0rem, 1.5vw + 0.1rem, 1.3rem);
    max-width: 100%;
  }
  
  /* Ejemplo de ajuste para pantallas muy pequeñas (opcional) */
  @media (max-width: 375px) {
    .title-responsive {
        font-size: clamp(1rem, 3vw + 0.2rem, 1.8rem); /* Ajuste para pantallas muy pequeñas */
        line-height: clamp(1.5rem, 3.5vw + 0.2rem, 2.3rem);
    }
  }
  
  /*---------------------------- stilos resposnivos texto multilinea para evitar expansiond e contenedores---------------- */
  .multi-line-ellipsis {
   
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número máximo de líneas */
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    overflow-y: auto; /*scroll vertical*/
  }

  .multi-line-ellipsis-title {
   
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Número máximo de líneas */
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    overflow-y: auto; /*scroll vertical*/
  }